<rewrite>
  <rules>
    <rule name="インポートされた規則 1" stopProcessing="true">
      <match url="^$" ignoreCase="false" />
      <action type="Rewrite" url="webroot/" />
    </rule>
    <rule name="インポートされた規則 2" stopProcessing="true">
      <match url="(.*)" ignoreCase="false" />
      <action type="Rewrite" url="webroot/{R:1}" />
    </rule>
  </rules>
</rewrite>
